body {
    background: #1e2225;
}

* {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 1em;

    background: #252a2d;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

header * {
    display: inline-block;
    margin-top: 0.5em;
    margin-inline: 1em;
    color: white;
    text-decoration: none;
    opacity: 50%;
    transition: 0.5s ease;
}

header a i {
    opacity: 0%;
}

header h1 {
    opacity: 100%;
    font-weight: bold;
}

header a:hover {
    margin-top: 1em;
    color: white;
    font-size: 1.2em;
    opacity: 100%;
}

header a:hover i {
    opacity: 100%;
}

footer {
    margin: 10em;
}

#infos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#infos * {
    display: inline-block;
    margin-inline: 2em;
    text-align: center;
    padding: 0.5em;    
}

#infos-box {
    width: 20em;
    height: 20em;
    background: #252a2d;
    border-radius: 1em;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

#infos-right img {
    width: 20em;
    height: 20em;
    border-radius: 1em;
    background: #252a2d;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

.dev-text {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: underline;

    margin: 2em;
}

#dev-langs {
    display: flex;
    justify-content: center;
}

.dev-item {
    height: 10em;
    margin-inline: 2em;
}

.dev-item:hover img {
    transform: translateY(-1.5em);
    box-shadow: 0px 7px 10px 5px rgba(0,0,0,0.25);
}

.dev-item img {
    height: 100%;
    width: auto;
    background: #252a2d;
    border-radius: 1em;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    padding: 1em;
    transition: 0.5s ease;
}

.dev-item p {
    text-align: center;
    font-size: 0em;
    font-weight: bold;
    transition: 0.5s ease;
}

.dev-item:hover p {
    font-size: 1.5em;
    transform: translateY(-1em);
}

.project {
    background: #252a2d;
    border-radius: 1em;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    margin: 1em;
    padding: 1em;
    transition: 0.5s ease;
}

.project:hover {
    box-shadow: 0px 7px 10px 5px rgba(0,0,0,0.25);
    transform: translateY(-0.5em);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    margin-bottom: 1em;
}

.project .title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.project .link {
    margin-top: 5em;
    opacity: 50%;
    transition: 0.5s ease;
}

.project .link:hover {
    opacity: 100%;
}

#networks {
    display: flex;
    justify-content: center;
}

#networks i {
    margin: 1em;
}

.network {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    background: #252a2d;
    margin: 1em;
    border-radius: 0.5em;
    transition: 0.5s ease;
}

.network:hover {
    box-shadow: 0px 7px 10px 5px rgba(0,0,0,0.25);
    transform: translateY(-0.25em);
}

.a-title {
    margin-top: 3em;
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: underline;
    font-weight: bold;
}